<%= form_for(@contact_person) do |f| %>
  <% if @contact_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_person.errors.count, "error") %> prohibited this contact_person from being saved:</h2>

      <ul>
      <% @contact_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Imię" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Nazwisko" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label "Stanowisko" %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label "Telefon" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj" %>
  </div>
<% end %>
