<h1>Osoby kontaktowe</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Position</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_people.each do |contact_person| %>
  <tr>
    <td><%= contact_person.name %></td>
    <td><%= contact_person.surname %></td>
    <td><%= contact_person.position %></td>
    <td><%= contact_person.phone %></td>
    <td><%= contact_person.email %></td>
    <th><%= link_to 'Pokaż', contact_person %></th>
    <th><%= link_to 'Edytuj', edit_contact_person_path(contact_person) %></th>
    <th><%= link_to 'Usuń', contact_person, confirm: 'Jesteś pewien?', method: :delete %></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj osobę kontaktową', new_contact_person_path %>
