<h1>Osoby kontaktowe</h1>

<table>
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Stanowisko</th>
      <th>Telefon</th>
      <th>E-mail</th>
    </tr>
  </thead>

<% @contact_people.each do |contact_person| %>
  <tr onclick="document.location='<%= contact_person_path(contact_person) %>';">
    <td><%= contact_person.name %></td>
    <td><%= contact_person.surname %></td>
    <td><%= contact_person.position %></td>
    <td><%= contact_person.phone %></td>
    <td><%= contact_person.email %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj osobę kontaktową', new_contact_person_path %>
