<p id="notice"><%= notice %></p>

<h2><%= @contact_person.name %> <%= @contact_person.surname %></h2>

<p>
  <b>Position:</b>
  <%= @contact_person.position %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact_person.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @contact_person.email %>
</p>

<%= Notifier.notifie(@contact_person).deliver  %> | 
<%= link_to 'Edytuj', edit_contact_person_path(@contact_person) %> |
<%= link_to 'Usuń', @contact_person, confirm: 'Jesteś pewien?', method: :delete %> |
<%= link_to 'Wstecz', contact_people_path %>
