<h1>Aplikacje</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Wersja</th>
      <th>Klienci</th>
    </tr>
  </thead>

<% @applications.each do |application| %>
  <tr onclick="document.location='<%= application_path(application) %>';">
    <td><%= application.name %></td>
    <td><%= application.description %></td>
    <td><%= application.version %></td>
    <td><ul>
	<% application.clients.each do |kli|%>	
		<li><%= kli.display_name %></li>
	<% end%>
    </ul></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nową aplikację', new_application_path %>
