<h1>Aplikacje</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Opis</th>
    <th>Wersja</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%= application.name %></td>
    <td><%= application.description %></td>
    <td><%= application.version %></td>
    <th><%= link_to 'Pokaż', application %></th>
    <th><%= link_to 'Edytuj', edit_application_path(application) %></th>
    <th><%= link_to 'Usuń', application, confirm: 'Jesteś pewien?', method: :delete %></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nową aplikację', new_application_path %>
