<p id="notice"><%= notice %></p>

<h2><%= @application.name %></h2>

<p>
  <b>Description:</b>
  <%= @application.description %>
</p>

<p>
  <b>Version:</b>
  <%= @application.version %>
</p>


<%= link_to 'Edytuj', edit_application_path(@application) %> |
<%= link_to 'Usuń', @application, confirm: 'Jesteś pewien?', method: :delete %> |
<%= link_to 'Wstecz', applications_path %>
