<p id="notice"><%= notice %></p>

<h2><%= @application.name %></h2>

<p>
  <b>Opis:</b>
  <%= @application.description %>
</p>

<p>
  <b>Version:</b>
  <%= @application.version %>
</p>
<p>
  <b>Klienci:</b>
<ul>
  <% @application.clients.each do |cli| %>
	<li><%= cli.display_name%></li>
  <% end %>
</ul>
</p>
<p>
  <b>Zgłoszone błedy:</b>
<ul>
  <% @application.bugs.each do |bug| %>
	<li><%= bug.id%> - <%= bug.created_at%> - <%= bug.topic%> - <%= bug.status.name%></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edytuj', edit_application_path(@application) %> |
<%= link_to 'Usuń', @application, confirm: 'Jesteś pewien?', method: :delete %> |
<%= link_to 'Wstecz', applications_path %>
