<h1>Klienci</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Adres</th>
      <th>Miasto</th>
      <th>Kod pocztowy</th>
      <th>Regon</th>
    </tr>
  </thead>

<% @clients.each do |client| %>
  <tr onclick="document.location='<%= client_path(client) %>';">
    <td><%= client.name %></td>
    <td><%= client.address %></td>
    <td><%= client.city %></td>
    <td><%= client.postal_code %></td>
    <td><%= client.regon %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nowego klienta', new_client_path %>
