<h1>Klienci</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Adres</th>
    <th>Miasto</th>
    <th>Kod pocztowy</th>
    <th>Regon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.address %></td>
    <td><%= client.city %></td>
    <td><%= client.postal_code %></td>
    <td><%= client.regon %></td>
    <th><%= link_to 'Pokaż', client %></th>
    <th><%= link_to 'Edytuj', edit_client_path(client) %></th>
    <th><%= link_to 'Usuń', client, confirm: 'Jesteś pewien?', method: :delete %></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nowego klienta', new_client_path %>
