<p id="notice"><%= notice %></p>

<h2><%= @client.name %></h2>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>Postal code:</b>
  <%= @client.postal_code %>
</p>

<p>
  <b>Regon:</b>
  <%= @client.regon %>
</p>
<p>
  <b>Kontakt:</b>
<ul>
  <% @client.contact_people.each do |person| %>
	<li><%= person.position%>: <%= person.name%> <%= person.surname%> - <%= person.phone%></li>
  <% end %>
</ul>
</p>
<p>
  <b>Aplikacje:</b>
<ul>
  <% @client.applications.each do |app| %>
	<li><%= app.name%>- v.<%= app.version%></li>
  <% end %>
</ul>
</p>


<%= link_to 'Edytuj', edit_client_path(@client) %> |
<%= link_to 'Usuń', @client, confirm: 'Jesteś pewien?', method: :delete %> |
<%= link_to 'Wstecz', clients_path %>
