<p id="notice"><%= notice %></p>

<h2><%= @client.name %></h2>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>Postal code:</b>
  <%= @client.postal_code %>
</p>

<p>
  <b>Regon:</b>
  <%= @client.regon %>
</p>


<%= link_to 'Edytuj', edit_client_path(@client) %> |
<%= link_to 'Usuń', @client, confirm: 'Jesteś pewien?', method: :delete %> |
<%= link_to 'Wstecz', clients_path %>
