<h1>Aplikacje klientów</h1>

<table>
  <thead>
    <tr>
      <th>Data początku</th>
      <th>Data wygaśnięcia</th>
      <th>Typ licencji</th>
      <th>Liczba stanowisk</th>
      <th>Klucz produktu</th>
    </tr>
  </thead>

<% @clients_applications.each do |clients_application| %>
  <tr>
  <tr onclick="document.location='<%= clients_application_path(clients_application) %>';">
    <td><%= clients_application.start_date %></td>
    <td><%= clients_application.expire_date %></td>
    <td><%= clients_application.license_type %></td>
    <td><%= clients_application.number_of_computers %></td>
    <td><%= clients_application.product_key %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj aplikację klienta', new_clients_application_path %>
