<h1>Aplikacje klientów</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>Expire date</th>
    <th>License type</th>
    <th>Number of computers</th>
    <th>Product key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients_applications.each do |clients_application| %>
  <tr>
    <td><%= clients_application.start_date %></td>
    <td><%= clients_application.expire_date %></td>
    <td><%= clients_application.license_type %></td>
    <td><%= clients_application.number_of_computers %></td>
    <td><%= clients_application.product_key %></td>
    <th><%= link_to 'Pokaż', clients_application %></th>
    <th><%= link_to 'Edytuj', edit_clients_application_path(clients_application) %></th>
    <th><%= link_to 'Usuń', clients_application, confirm: 'Jesteś pewien?', method: :delete %></th>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj aplikację klienta', new_clients_application_path %>
