<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @clients_application.start_date %>
</p>

<% klasa = "nie_wygasa"
  if (Date.today >= @clients_application.expire_date - 30.days && Date.today < @clients_application.expire_date)
    klasa = "niedlugo_wygasa"
  elsif (Date.today >= @clients_application.expire_date)
    klasa = "wygasla"
  end
%>  
<p class = "<%= klasa %>">
  <b>Expire date:</b>
  <%= @clients_application.expire_date %>
  <% if (klasa == "niedlugo_wygasa" || klasa == "wygasla") %>
    <%= link_to 'Wyślij ofertę', emails_contact_person_path(@clients_application.client.contact_people[0])  , class: 'wyslij_oferte'   %>
  <% end %>  
</p>

<p>
  <b>License type:</b>
  <%= @clients_application.license_type %>
</p>

<p>
  <b>Number of computers:</b>
  <%= @clients_application.number_of_computers %>
</p>

<p>
  <b>Product key:</b>
  <%= @clients_application.product_key %>
</p>
<p>
  <b>Klienci:</b>
  <%= @clients_application.client.display_name%>
</p>
<p>
  <b>Aplikacja:</b>
  <%= @clients_application.application.display_name%>
</p>


<%= link_to 'Edytuj', edit_clients_application_path(@clients_application) %> |
<%= link_to 'Usuń', @clients_application, confirm: 'Jesteś pewien?', method: :delete %> |
<%= link_to 'Wstecz', clients_applications_path %>
