<h1>Błędy</h1>
<table>
  <thead>
    <tr>
	  <th>Nr błędu</th>
      <th>Nazwa aplikacji</th>
      <th>Użytkownik</th>
      <th>Klient</th>
      <th>Temat</th>
	  <th>Data zgłoszenia</th>
	  <th>Status</th>
    </tr>
  </thead>
<% @bugs2.each do |bug| %>
  <tr onclick="document.location='<%= bug_path(bug) %>';">
	<td><%= bug.id%></td>
    <td><%= bug.application.display_name%></td>
    <td><%= bug.user.login %></td>
	<td><%= bug.user.client_id? ? bug.user.client.display_name : "-"%></td>
    <td><%= bug.topic%></td>
	<td><%= bug.created_at%></td>
	<td><%= bug.status.name%></td>
  </tr>
<% end %>
</table>
<%= page_entries_info @bugs2 %>
<%= will_paginate @bugs2 %>
<br />
<br />
<%= link_to "Zgloś nowy błąd", new_bug_path %>
