<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.text_field :email_address, :value => ContactPerson.find(params[:person]).email %>
  </div>
  <div class="field">
    <%= f.label "Tytuł wiadomości" %><br />
    <%= f.text_field :title, :value => params[:title] %>
  </div>
  <div class="field">
    <%= f.label "Treść wiadomości" %><br />
    <%= f.text_area :msg %>
  </div>
  <div class="actions">
    <%= f.submit "Wyślij" %>
  </div>
<% end %>
