<p id="notice"><%= notice %></p>
<%= form_for @user_session, :url => user_session_path do |f| %>
  <p>
  <%= f.label :login %> <br />
  <%= f.text_field :login, :size => "40" %>
  </p>
  <p>
  <%= f.label "Hasło" %> <br />
  <%= f.password_field :password, :size => "40" %>
  </p>
  <p id="zaloguj"><%= f.submit "Zaloguj" %> </p>
<% end %>
